@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --glass-effect: rgba(0, 0, 0, 0.596);
  --glass-border: #ffffffe1;
  --black: #000000;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.headerHover{
  @apply hover:scale-105 transition-transform duration-200;
}

.glass-text{
  text-shadow:0 -1px 0 var(--glass-border), 0 1px 0 var(--glass-border);    
  color: rgba(0, 0, 0, 0.596);   
}

/* Section Controls */
.openingSection, .faithSection{
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
  position: relative;
  z-index: 1;
}

.calendarSection{
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  position: relative;
  z-index: 1;
}

.welcomeH1{
    width: 35%;
    margin-left: 5%;
    font-weight: bold;
    font-size: 630%;
    text-shadow: 0 -1px 0 var(--glass-border), 0 2px 0 var(--glass-border);    
    color: rgba(0, 0, 0, 0.596);   
}


.TitleHead{
  color:var(--glass-effect);
  text-shadow: 0 -1px 0 var(--glass-border), 0 2px 0 var(--glass-border);    
  font-size: 600%;
  width: 35%;
  margin-left: 5%;
  padding-top: 5%;
}





